
<!-- Cours Section-->

<section class="page-section mb-0 mt-5" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary">{{servCourses.listCourses[indexCourse].name}}</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><fa-icon [icon]="faStar"></fa-icon></div>
                    <div class="divider-custom-line"></div>
                </div>
                <img class="img-fluid rounded mb-5" src={{servCourses.listCourses[indexCourse].img}} alt="" />
                <!-- About Section Content-->
                <table class="table justify-content-center">
                    <tbody>
                        <tr>
                            <th scope="row">{{ 'courses.speaker' | translate }}</th>
                            <td>{{servCourses.listCourses[indexCourse].teacher}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'courses.hour' | translate }}</th>
                            <td>{{servCourses.listCourses[indexCourse].hour}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- About Section Button-->
                <div class="text-center mt-4b">
                    <a class="btn btn-xl btn-outline-light bg-info" href routerLink="/courses" (click)="gotoTop()">
                        <div class="container">
                            <div class="row justify-content-around justify-content-space-between">
                                <fa-icon [icon]="faChevronLeft"></fa-icon>&#160; &#160;&#160;&#160;<h3 class="text-uppercase text-white mb-0">{{'back' | translate}}</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>