<!-- Masthead-->
<header class="masthead bg-info text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" />
        <h1 class="masthead-heading text-uppercase mb-0">Romane Sallio</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><fa-icon [icon]="faStar"></fa-icon></div>
            <div class="divider-custom-line"></div>
        </div>
        <div *ngFor="let iam of 'profile.iam' | translate ">
            <p class="masthead-subheading font-weight-light mb-3">{{iam}}</p>
        </div>
        <div class="container mt-3">
            <div class="row justify-content-around justify-content-space-between">
                <a class="btn btn-xl btn-outline-light mb-3" href routerLink="/resume" (click)="gotoTop()">
                    <h3 class="page-section-heading text-center text-uppercase text-white mb-0">{{ 'profile.resume.title' | translate }}</h3>
                </a>
                <a class="btn btn-xl btn-outline-light mb-3" href routerLink="/projects" (click)="gotoTop()">
                    <h3 class="page-section-heading text-center text-uppercase text-white mb-0">{{ 'projects.title' | translate }}</h3>
                </a>
                <a class="btn btn-xl btn-outline-light mb-3" href routerLink="/courses" (click)="gotoTop()">
                    <h3 class="page-section-heading text-center text-uppercase text-white mb-0">{{ 'courses.title' | translate }}</h3>
                </a>
            </div> 
        </div>   
    </div>
</header>